<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/tomorrow-night-bright.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.caret.min.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    {{ resources|safe }}
</head>
<body>
    <div id="notification"></div>

    <div id="popup-container">
        <div class="popup-content">
            <ul id="poplist"></ul>
            <div id="popcontent"></div>
            <div>
                <span id="popclose">&times;</span>
            </div>
        </div>
    </div>

    <h1>Experiments</h1>

    <input type="search" class="search" placeholder="Filter" tabindex="1">

    {{ table|safe }}

    <script>
        var isDirty = false;
        var curIdx = 0;
        var curFile = '';
        var selectionTimeout = null;

         // warn about unsaved changes
        $(window).on('beforeunload', function(){
            if (isDirty) return 'Some changes were not saved.';
            else return undefined;
        });

        // track changes
        var cellValue;
        $('table').on('focus', '.td', function(event) {
            cellValue = $(this).text();
        });

        // save changes
        $('table').on('blur', '.td', function(event) {
            console.log('trying to save');
            if ($(this).text() != cellValue) {
                console.log('saving!');
                isDirty = true;
                // var rowIndex = $(this).parent().index();
                var rowName = $(this).parent().find('th').find('span').text();
                var col = $(this).parent().children().index($(this));
                var colName = $(this).closest("table").find("th").eq(col).text();
                $.post("/",
                    { data: JSON.stringify([rowName, colName, $(this).text()]) },
                    function() { isDirty = false; }
                );
            }
        });

        // filter
        // $('input').on('keyup',function(){
        //     var searchTerm = $(this).val().toLowerCase();
        //     $('table tbody tr').each(function(){
        //         var lineStr = $(this).text().toLowerCase();
        //         if (lineStr.indexOf(searchTerm) === -1) {
        //             $(this).hide();
        //         }
        //         else {
        //             $(this).show();
        //         }
        //     });
        // });
        $('input').on('keyup',function(event){
            if (event.key == "Enter") {
                var searchTerm = $(this).val().toLowerCase();
                $.post("/search",
                    { data: JSON.stringify(searchTerm) },
                    function(filtered_table) {
                        $('table tbody').html(filtered_table);
                        setup_table();
                    }
                );
            };
        });

        function format_rows(selector) {
            var tag_col = $("th:contains('tag')").index();
            var descr_col = $("th:contains('description')").index();
            var outcome_col = $("th:contains('outcome')").index();
            selector.each(function() {
                $(this).children().eq(tag_col).attr("contenteditable", true);
                $(this).children().eq(descr_col).attr("contenteditable", true);
                $(this).children().eq(outcome_col).attr("contenteditable", true);
                $(this).children().eq(0).attr("class", "index");
                $(this).children().eq(0).html('<div class="remove">x</div>' +
                                              '<span>' + $(this).children().eq(0).text() + '</span>');
            });
            return selector
        }

        function remove() {
            $('.remove').click(function() {
                var row = $(this).parent().parent();
                var idx = $(this).parent().find('span').text();
                $.post("/remove-rows",
                       { data: JSON.stringify(idx) },
                       function(data) {
                        //    console.log(data);
                           if (data == 'ok') {
                               row.remove();
                               $('#notification').attr("class", "success");
                               $('#notification').text(idx + ' removed successfully')
                                    .fadeIn()
                                    .delay(2000)
                                    .fadeOut();
                           }
                           else {
                               $('#notification').attr("class", "error");
                               $('#notification').text('Could not remove ' + idx)
                                    .fadeIn()
                                    .delay(2000)
                                    .fadeOut();
                               }
                           }
                );
            });
        }

        $('table').on('click', 'td', function(event) {
            var editable = $(this).closest('td')[0].getAttribute('contenteditable');
            // if ((editable != "true") && event.shiftKey) {
            //     var dropbox = "https://www.dropbox.com/work/memo/store/";
            //     var time_col = $("th:contains('timestamp')").index();
            //     var timestamp = $(this).parent().children().eq(time_col).text();
            //     var idx = $(this).parent().children().eq(0).text();
            //     idx = Number(idx.slice(1))
            //     idx = ("0000" + idx).slice(-4);
            //     if (idx <= 880) {
            //         window.open(dropbox + idx + '_' + timestamp);//, "_self");
            //     } else {
            //         window.open(dropbox + idx);//, "_self");
            //     }
            // }
            curIdx = $(this).parent().find('th').find('span').text();
            if (editable != "true") {
                curFile = 'results.pkl';
                $('.selected-row').attr('class', '');
                clearTimeout(selectionTimeout);
                $(this).parent().attr('class', 'selected-row');
                $('#poplist').empty();
                $('#popcontent').empty(); // html('');
                $('#popup-container').css("display", "block");

                $.post("/popup",
                       { data: JSON.stringify(curIdx) },
                       popup
                       );
            }
        });

        function popup(data) {
            $('#poplist').empty();
            $('#poplist').text(curIdx);
            // $('#popcontent').empty(); // html('');
            $.each(data, function() {
                $('#poplist').append('<li><a class="files">' + this + "</a></li>");
            })
            $("a:contains('" + curFile + "')").trigger('click');
        }

        $('#popclose').on('click', function(event) {
            $('#popup-container').css("display", "none");
            selectionTimeout = setTimeout(function() {
                $('.selected-row').attr('class', '');
            }, 5000);

        });

        // $('#popup-container').on('click', function(event) {
        //     $('#popup-container').css("display", "none");
        // });

        $('#poplist').on('click', '.files', function(event) {
            // curIdx = $(this).parent().find('th').text();
            curFile = $(this).text();
            $.post("/click-file",
                { data: JSON.stringify([curIdx, $(this).text()]) },
                function(data) {
                    $('#popcontent').html(data);
                    hljs.highlightBlock($('code')[0]);
                    }
            );
        });

        setInterval(function() {
            if ($('#popup-container').css('display') != "none") {
                $.post("/popup",
                        { data: JSON.stringify(curIdx) },
                        popup
                    );
            }
        }, 60*1000);

        $(document).keyup(function(e) {
            if (e.keyCode == 27) {
                $('#popclose').trigger('click');
            }
        });

        $(document).ready(setup_table);

        function setup_table() {
            // make some columns editable
            var descr_col = $("th:contains('description')").index();
            $("thead tr").children().eq(descr_col).attr("class", "description");
            var outcome_col = $("th:contains('outcome')").index();
            $("thead tr").children().eq(outcome_col).attr("class", "outcome");
            $('td').attr("class", "td")
            format_rows($("tbody tr"));
            remove();
            console.log('done table setup');
        }

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
        socket.on('folder updated', function(data) {
            var focused = document.activeElement;
            if (focused.tagName == 'TD') {
                var rowName = $(focused).parent().find('th').find('span').text();
                var colIndex = $(focused).parent().children().index($(focused));
                var value = $(focused).text()
                var cellValue_old = cellValue;  // save unedited cell value
                var caret_pos = $(focused).caret('pos');  // save caret position
            };
            $('table tbody').html(data);
            setup_table();
            if (focused.tagName == 'TD') {
                var row = $('table').find("th.index span:contains('" + rowName + "')")[0];
                var rowIndex = $(row).parent().parent().index() + 1;
                var cell = $('table').find('tr:eq(' + rowIndex + ')')
                        .find('td:eq(' + (colIndex - 1) + ')')[0];
                $(cell).text(value);
                $(cell).caret('pos', caret_pos);  // restore caret position
                cellValue = cellValue_old;  // restore original unedited value
                                            // for comparison when saving in blur
            }
        });

    </script>
</body>
</html>