<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    {{ resources|safe }}
    <!-- <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" type="text/css">

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script> -->
</head>
<body>
    <div id="popupc">
        <div class="popup">
            <span id="popclose">&times;</span>
            <div id="popcontent"></div>
        </div>
    </div>

    <h1>Experiments</h1>

    <input type="search" class="search" placeholder="Filter" tabindex="1">

    {{ table|safe }}

    <script>
        var isDirty = false;
        var curIdx = 0;

         // warn about unsaved changes
        $(window).on('beforeunload', function(){
            if (isDirty) return 'Some changes were not saved.';
            else return undefined;
        });

        // track changes
        var cellValue;
        $('td').on('focus', function(event) {
            cellValue = $(this).text();
        });

        // save changes
        $('td').on('blur', function(event) {
            if ($(this).text() != cellValue) {
                isDirty = true;
                // var rowIndex = $(this).parent().index();
                var rowName = $(this).parent().find('th').text(); // children().first().text();
                var col = $(this).parent().children().index($(this));
                var colName = $(this).closest("table").find("th").eq(col).text();
                $.post("/",
                    { data: JSON.stringify([rowName, colName, $(this).text()]) },
                    function() { isDirty = false; }
                );
            }
        });

        // filter
        $('input').on('keyup',function(){
            var searchTerm = $(this).val().toLowerCase();
            $('table tbody tr').each(function(){
                var lineStr = $(this).text().toLowerCase();
                if (lineStr.indexOf(searchTerm) === -1) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });

        function format_rows(selector) {
            var tag_col = $("th:contains('tag')").index();
            var descr_col = $("th:contains('description')").index();
            var outcome_col = $("th:contains('outcome')").index();
            selector.each(function() {
                $(this).children().eq(tag_col).attr("contenteditable", true);
                $(this).children().eq(descr_col).attr("contenteditable", true);
                $(this).children().eq(outcome_col).attr("contenteditable", true);
                $(this).children().eq(0).attr("class", "index");
                $(this).children().eq(0).prepend('<div class="remove">x</div>');
            });
            return selector
        }

        function remove() {
            $('.remove').click(function() {
                var row = $(this).parent().parent();
                $.post("/remove-rows",
                       { data: JSON.stringify($(this).parent().text()) },
                       function() { row.remove(); }
                );
            });
        }

        $('td').on('click', function(event) {
            var editable = $(this).closest('td')[0].getAttribute('contenteditable');
            // if ((editable != "true") && event.shiftKey) {
            //     var dropbox = "https://www.dropbox.com/work/memo/store/";
            //     var time_col = $("th:contains('timestamp')").index();
            //     var timestamp = $(this).parent().children().eq(time_col).text();
            //     var idx = $(this).parent().children().eq(0).text();
            //     idx = Number(idx.slice(1))
            //     idx = ("0000" + idx).slice(-4);
            //     if (idx <= 880) {
            //         window.open(dropbox + idx + '_' + timestamp);//, "_self");
            //     } else {
            //         window.open(dropbox + idx);//, "_self");
            //     }
            // }
            if (editable != "true") {
                curIdx = $(this).parent().find('th').text();
                $('#popcontent').html('');
                $.post("/popup",
                       { data: JSON.stringify(curIdx) },
                       function( data ) {
                           $('#popcontent').html(data);
                       }
                );
                $('#popupc').css("display", "block");
            }
        });

        $('#popclose').on('click', function(event) {
            $('#popupc').css("display", "none");
        });

        $('#popupc').on('click', function(event) {
            $('#popupc').css("display", "none");
        });

        setInterval(function() {
            if ($('#popupc').css('display') != "none") {
                $.post("/popup",
                        { data: JSON.stringify(curIdx) },
                        function( data ) {
                            $('#popcontent').html(data);
                        }
                    );
            }
        }, 60*1000);

        $(document).ready(function() {
            // make some columns editable
            var descr_col = $("th:contains('description')").index();
            $("thead tr").children().eq(descr_col).attr("class", "description");
            var time_col = $("th:contains('timestamp')").index();
            $("thead tr").children().eq(time_col).attr("class", "timestamp");
            format_rows($("tbody tr"));
            remove();

            // setInterval(update_values, 5000);

            // function update_values() {
            // $.get("/send-rows", function(data) {
            //     var rows = format_rows($(data.rows).filter('tr'));
            //     $('table tbody').prepend(rows);
            // });
            // }


        });

        // var source = new EventSource('/send-rows');
        // source.onmessage = function(event) {
        //     // alert('jonas');
        //     if (event.data.length > 0) {
        //         // console.log(event.data);
        //         var rows = format_rows($(event.data).filter('tr'));
        //         // console.log(rows);
        //         $('table tbody').prepend(rows);
        //         remove();
        //     }
        // };
    </script>
</body>
</html>